<div class="homepage">
    <div class="avatar">
        <img src="../../../../../assets/avatars/ava1.png" alt="Аватар">
    </div>
    <div class="description">
        <h2>{{user.username}}</h2>
        <mat-list class="records">
            <mat-list-item>
                <mat-icon matListItemIcon>filter_1</mat-icon>
                <p matListItemLine>Flappy Bird</p>
                <p matListItemLine>{{user.flappyScore}}</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>filter_2</mat-icon>
                <p matListItemLine>Pong</p>
                <p matListItemLine>{{user.arkanoidScore}}</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>filter_3</mat-icon>
                <p matListItemLine>Nu Pogodi</p>
                <p matListItemLine>{{user.nupogodiScore}}</p>
            </mat-list-item>
        </mat-list>
    </div>
</div>
