.flappyField{
    position: relative;
    width: 100%;
    height: 80%;
}
canvas{
    position: absolute;
    top: 0; /* Регулируйте положение текста с помощью свойств CSS */
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(139, 239, 248);
}
button{
    margin: 1%;
}
.scoreOverlay{
    position: absolute;
    top: 5%; /* Регулируйте положение текста с помощью свойств CSS */
    right: 5%;
    font-size: 20px;
    color: black;
}